@media screen and (max-width:991px) {
  .custom-left {
    left: 56% !important;
    bottom: -70px !important;
  }

  .custom-pre {
    bottom: -70px !important;
  }
  .web_next_btn {
    bottom: -90px !important;
    right: 44px  !important;
}
.web_previous_btn {
  bottom: -90px  !important;
  right: 105px !important;
}
.tabsContainer {
  flex-wrap: nowrap  !important;
}
.tabsContainer .tab {
  width: auto !important;
  min-width: auto !important;
}
}

@media screen and (max-width: 575px) {
  .web_previous_btn {
    bottom: auto  !important;
    top: -30px !important;
    right: 50px !important;
}
  
  .web_next_btn {
    bottom: auto  !important;
    top: -30px !important;
    right: 0  !important;
}
  
  .tabsContainer {
    flex-wrap: wrap !important;
  }
  .tabsContainer .tab {
    width: 100% !important;
    min-width: 100% !important;
  }
  .no-rotate {
    transform: translateX(0) rotate(0deg) !important;
  }
  .custom-pre {
    bottom: -40px !important;
    left: 45% !important;
  }
  .custom-left  {
    bottom: -40px !important;
    left: 61% !important;
  }
  .previous-btn ,.next-btn {
    bottom: -75px !important;
  }

}
