@media screen and (max-width: 1920px) {
  .custom-apple-slider {
    padding-left: 22rem;
  }
}

@media screen and (max-width:1870px) {
  .about-slider-padding {
    padding-left: 16rem;
  }
}

@media screen and (max-width: 1680px) {
  .custom-apple-slider {
    padding-left: 15rem;
  }
}

@media screen and (max-width: 1600px) {
  .custom-apple-slider {
    padding-left: 12rem;
  }
}

@media screen and (max-width: 1550px) {
  .custom-apple-slider {
    padding-left: 10rem;
  }
}
@media screen and (max-width: 1440px) {
  .custom-apple-slider {
    padding-left: 7rem;
  }
}

@media screen and (max-width: 1366px) {
  .custom-apple-slider {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 991px) {
  .custom-apple-slider {
    padding-left: 16px;
  }
  .slick-next {
    right: 16px !important;
    left: auto  !important;
  }
  .slick-prev, .slick-next {
    left: auto  !important;
  }
  .slick-prev {
    right: 70px !important;
  }
  .slick-dots {
    display: none;
  }
  .service-dropdown-active.active-services {
    display: none;
  }
  .custom-left {
    left: 56% !important;
    bottom: -70px !important;
  }

  .custom-pre {
    bottom: -70px !important;
  }
  .web_next_btn {
    bottom: -90px !important;
    right: 44px !important;
  }
  .web_previous_btn {
    bottom: -90px !important;
    right: 105px !important;
  }
  .tabsContainer {
    flex-wrap: nowrap !important;
  }
  .tabsContainer .tab {
    width: auto !important;
    min-width: auto !important;
  }
}

@media screen and (max-width: 575px) {
  .web_previous_btn {
    bottom: auto !important;
    top: -30px !important;
    right: 65px !important;
  }

  .web_next_btn {
    bottom: auto !important;
    top: -30px !important;
    right: 15px !important;
  }

  .tabsContainer {
    flex-wrap: wrap !important;
  }
  .tabsContainer .tab {
    width: 100% !important;
    min-width: 100% !important;
  }
  .no-rotate {
    transform: translateX(0) rotate(0deg) !important;
  }
  .custom-pre {
    bottom: -40px !important;
    left: 45% !important;
  }
  .custom-left {
    bottom: -40px !important;
    left: 61% !important;
  }
  .previous-btn,
  .next-btn {
    bottom: -75px !important;
  }
  .custom-apple-slider {
    padding-left: 16px;
  }
  .slick-prev, .slick-next {
    bottom: -75px  !important;
  }  
  .featured-btn {
    bottom: -10px  !important;
    right:  0  !important;
  }
  .featured-right-btn {
    left: auto  !important;
}
.featured-left-btn {
  left:auto !important;
  right: 21%  !important;
}
.btn-whatsapp-pulse {
  left: 16px;
}
.form-item label , .custom-phone-input input {
  font-size: 10px;
}

.form-item input:focus + label,
.form-item input:valid + label,
.form-item textarea:focus + label,
.form-item textarea:valid + label {
  font-size: 10px;
}

input, textarea, select {
  font-size: 16px !important;
}
}
